.entrada{
display: flex;
background-color:#111518;
border-radius: 60px;
padding: -10px;
margin: 20px;
}
*{
margin: 0;
}
body{
    background-color: black;
}

.Clark{
background-color: rgb(0, 0, 0);
}

.lg{
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
margin-left: 40px;
}

.logo2{
height: 130px;
background-color: transparent;
margin: -30px;
}

.links{
  display: flex;
  justify-content: flex-end;
  color: yellow;
  background-color: transparent;
  font-size: 150%;
  gap: 20px;
  padding: 30px;
}
.links{
    width: 100%;
}
.links a{
    text-decoration: none;
    color: yellow;
    background-color: rgb(34, 33, 33);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.411);

}

.Bem-vindo h1{
    font-size: 50px;
    
}
.Bem-vindo{
    background-color: #111518;
    margin: 30px;
    margin-top: 70px;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 30px;
    color: yellow;
    text-align: center;
}


.Imagem-cachorro-juiz{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    margin-top: 35px;
}





.circleYellow{
    display: flex;
    background-color: rgb(255, 255, 0);
    height: 300px;
    border-radius: 100%;
    width: 300px;
    margin: auto;
    z-index: 1;
    margin-top: -280px;
    margin-right: 520px;
}


.circleYellowPequeno{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    z-index: 0;
    margin-top: -280px;
    margin-right: 440px;
}

.circleYellowPequeno2{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex ;
    margin: auto;
    z-index: 0;
    margin-top: -350px;
}

.circleYellowPequeno3{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex;
    z-index: 0;
    margin-left: 250px;
    margin-bottom: 250px;
}

.circleYellowPequeno4{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    align-items: end;
    margin-left: auto;
    margin-right: 150px;
}

.circleYellowPequeno5{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin-left: 40px;
}


.intermediario{
    display: flex;
    height: 200px;
    background-color: yellow;
    width: 500px;
}

.intermediario img{
    height: 100px;
}

.interm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.viado{
    display: flex;
    
}
