/* --PADRÃO-- */
* {
    margin: 0;
}
body {
    background-color: black;
}

/* --FONTES-- */

@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;1,700&display=swap");

.inria-serif-regular {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.inria-serif-bold-italic {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: italic;
}

<<<<<<< HEAD
.logo2{
height: 130px;
background-color: transparent;
margin: -30px;
}

.links{
  display: flex;
  justify-content: flex-end;
  color: yellow;
  background-color: transparent;
  font-size: 150%;
  gap: 20px;
  padding: 30px;
}
.links{
    width: 100%;
}
.links a{
    text-decoration: none;
    color: yellow;
    background-color: rgb(34, 33, 33);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.411);

}

.Bem-vindo h1{
    font-size: 50px;
    
}
.Bem-vindo{
    background-color: #111518;
    margin: 30px;
    margin-top: 70px;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 30px;
    color: yellow;
    text-align: center;
}


.Imagem-cachorro-juiz{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    margin-top: 35px;
}





.circleYellow{
    display: flex;
    background-color: rgb(255, 255, 0);
    height: 300px;
    border-radius: 100%;
    width: 300px;
    margin: auto;
    z-index: 1;
    margin-top: -280px;
    margin-right: 520px;
}


.circleYellowPequeno{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    z-index: 0;
    margin-top: -280px;
    margin-right: 440px;
}

.circleYellowPequeno2{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex ;
    margin: auto;
    z-index: 0;
    margin-top: -350px;
}

.circleYellowPequeno3{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex;
    z-index: 0;
    margin-left: 250px;
    margin-bottom: 250px;
}

.circleYellowPequeno4{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    align-items: end;
    margin-left: auto;
    margin-right: 150px;
}

.circleYellowPequeno5{
    background-color: rgb(170, 170, 2);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin-left: 40px;
}


.intermediario{
    display: flex;
    height: 700px;
    width: 700px;
}

.intermediario img{
    
    height: 200px;
    margin-top: 150px;
    margin-left: 150px;
    background-color: yellow;
}   



.interm{
    color: white;
}

.interm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sobre{
    margin: 3px;
    padding: 100px;
}
=======
/* --BEM-VINDO-- */

.Clark {
    .Bem-vindo {
        background-color: #111518;
        margin: 30px;
        margin-top: 70px;
        padding-top: 150px;
        padding-bottom: 150px;
        border-radius: 30px;
        color: #fadf63;
        text-align: center;

        h1 {
            font-size: 50px;
        }

        .Imagem-Entrada {
            position: relative;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            margin-top: 35px;
            z-index: 2;
        }

        .circleYellow {
            display: flex;
            background-color: #ebb434;
            height: 350px;
            border-radius: 100%;
            width: 350px;
            z-index: 1;
            margin-top: -26%;
            margin-left: 51%;
        }

        .YP {
            position: absolute;
            background-color: rgba(235, 180, 52, 0.5);
            height: 90px;
            width: 90px;
            display: flex;
            position: absolute;
        }

        .triangulo {
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }

        .circulo {
            border-radius: 100%;
        }

        .hexagono {
            clip-path: polygon(
                25% 0%,
                75% 0%,
                100% 50%,
                75% 100%,
                25% 100%,
                0% 50%
            );
        }
        .p1 {
            margin-top: -56%;
            margin-left: 15%;

            animation: saltarP1 8s infinite ease-in-out;
        }
        .p2 {
            margin-top: -10%;
            margin-left: 5%;
            animation: saltarP2 10s infinite ease-in-out;
        }
        .p3 {
            margin-top: -26%;
            margin-left: 70%;
            animation: saltarP3 12s infinite ease-in-out;
        }
        .p4 {
            margin-top: -5%;
            margin-left: 85%;
            animation: saltarP4 14s infinite ease-in-out;
        }
        .p5 {
            margin-top: -48%;
            margin-left: 80%;
            animation: saltarP5 7s infinite ease-in-out;
        }

        @keyframes saltarP1 {
            0% {
                margin-top: -56%;
                margin-left: 15%;
            }

            25% {
                margin-top: -50%;
                margin-left: 14%;
            }
            50% {
                margin-top: -51%;
                margin-left: 10%;
            }

            25% {
                margin-top: -55%;
                margin-left: 11%;
            }
            100% {
                margin-top: -56%;
                margin-left: 15%;
            }
        }

        @keyframes saltarP2 {
            0% {
                margin-top: -10%;
                margin-left: 5%;
            }

            25% {
                margin-top: -4%;
                margin-left: 4%;
            }

            50% {
                margin-top: -3%;
                margin-left: 10%;
                /*                 transform: rotate(50deg); */
            }

            75% {
                margin-top: -9%;
                margin-left: 11%;
            }

            100% {
                margin-top: -10%;
                margin-left: 5%;
            }
        }
        @keyframes saltarP3 {
            0% {
                margin-top: -26%;
                margin-left: 70%;
            }

            25% {
                margin-top: -32%;
                margin-left: 69%;
            }

            50% {
                margin-top: -33%;
                margin-left: 74%;
            }

            75% {
                margin-top: -25%;
                margin-left: 75%;
            }

            100% {
                margin-top: -26%;
                margin-left: 70%;
            }
        }
        @keyframes saltarP4 {
            0% {
                margin-top: -5%;
                margin-left: 85%;
            }
            25% {
                margin-top: -1%;
                margin-left: 84%;
            }

            50% {
                margin-top: 0%;
                margin-left: 80%;
            }

            75% {
                margin-top: -4%;
                margin-left: 81%;
            }

            100% {
                margin-top: -5%;
                margin-left: 85%;
            }
        }
        @keyframes saltarP5 {
            0% {
                margin-top: -48%;
                margin-left: 80%;
            }

            25% {
                margin-top: -43%;
                margin-left: 79%;
            }

            50% {
                margin-top: -41%;
                margin-left: 85%;
            }

            75% {
                margin-top: -41%;
                margin-left: 85%;
            }
            100% {
                margin-top: -48%;
                margin-left: 80%;
            }
        }

        .div-btn {
            display: flex;
            justify-content: center;
            gap: 200px;

            .btn {
                width: 275px;
                height: 80px;
                background-color: rgba(55, 59, 63, 0.75);

                font-size: 45px;

                
                border-radius: 55px;
                
                transition: box-shadow 0.2s ease-in-out; /* transição suave */
                
                a {
                    color: #FADF63;
                    text-decoration: none;
                }
            }

            .btn:hover {
                box-shadow: 0 0 0 2px #FADF63; /* borda externa animada */
            }
        }
    }
}
>>>>>>> d53ced1 (Atualização das primeiras telas do front)
