.container-inicio{
    text-align: center;
    margin-top: 300px;
}

.logo{
    border-radius: 100px;
    height: 200px;
    background-color: rgb(37, 36, 36);
}

*{
    background-color: rgb(0, 0, 0);
}

.entrada{
margin-top: 400px;
background-color: rgb(37, 36, 36);
border-radius: 50px;
height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;

}

.logo2{
height: 100px;
background-color: transparent;
}

.links{
padding: 30px;
color: yellow;
background-color: transparent;
text-decoration: none;
padding-left: 1490px;

}

.links2{
padding: 30px;
color: yellow;
text-decoration: none;
}

