<<<<<<< HEAD
=======
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  

  .registrar-page {
    background-image: url("../assets/Clark_2.0.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 
    height: 100%;
    width: 100vw;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registrar-container {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2.5rem 3rem;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    color: white;
    text-align: center;
    position: relative;
  }

  .empresa-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 3px solid #f5c542;
  }
  

  h1 {
    color: #f5c542;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  

  .form-empresa {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  
  label {
    font-size: 0.9rem;
    color: #f0f0f0;
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
  }
  
  input {
    padding: 0.6rem;
    border: none;
    border-radius: 8px;
    background-color: #2b2b2b;
    color: white;
    outline: none;
    transition: 0.3s;
  }
  
  input:focus {
    background-color: #3b3b3b;
    border: 1px solid #f5c542;
  }
  
  button {
    margin-top: 1.5rem;
    background-color: #f5c542;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #d4a628;
  }
  

  /* campo de senha */
input[type="password"] {
    padding: 0.6rem;
    border: none;
    border-radius: 8px;
    background-color: #2b2b2b;
    color: white;
    outline: none;
    transition: 0.3s;
    width: 95%;
  }
  
  /* ao clicar no campo */
  input[type="password"]:focus {
    background-color: #3b3b3b;
    border: 1px solid #f5c542;
    box-shadow: 0 0 8px rgba(245, 197, 66, 0.3);
  }
  
>>>>>>> d53ced1 (Atualização das primeiras telas do front)
