.Barra-top {
    .lg {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin-left: 40px;

        .logo2 {
            height: 130px;
            background-color: transparent;
            margin: -30px;
        }
    }

    .links {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        color: yellow;
        background-color: transparent;
        font-size: 150%;
        gap: 20px;
        padding: 30px;

        Link {
            text-decoration: none;
            color: yellow;
            background-color: rgb(34, 33, 33);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.411);
        }
    }
}
